body {
  margin: 0;
  padding: 0;
}

/* nav start */
.navbar {
  font-family: "Inter";
}
#nav-h1 {
  font-size: 0.65rem;
  margin: 0;
  cursor: default;
}
#nav-img {
  margin: 0;
  height: 50px;
}
.nav-item {
  margin: 0;
  font-size: 0.8rem;
  cursor: pointer;
}
#post-job-btn {
  font-size: 1.1rem;
}
/* nav end */

/*header part start*/
header {
  position: relative;
}

#header-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 0 50%;
}

#header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#header-h1 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  margin: 0;
  padding: 20px;
  font-size: 45px;
  font-family: "Lobster", sans-serif;
}
/*header part end*/

/*single job item start*/
#job-div {
  margin: 15px;
}
#job-title,
#job-location,
#details-btn,
#job-added,
#job-description,
#job-salary {
  font-family: "Inter";
  text-align: center;
  display: block;
  margin: 0 auto;
}
#job-title {
  font-weight: bold;
  font-size: 1.3rem;
}
#job-location,
#details-btn {
  font-size: 0.9rem;
}
#job-location {
  font-style: italic;
}
#job-added {
  font-size: 0.7rem;
}
#job-desc-p {
  font-family: "Inter";
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
}
#apply-job-btn {
  display: block;
  margin: 0 auto 20px;
  text-align: center;
  font-size: 1.1rem;
}
/*single job item end*/
