body {
  margin: 0;
  padding: 0;
}

#nav-h1 {
  font-size: 11px;
}

/*header part start*/
header {
  position: relative;
}

#header-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 0 50%;
}

#header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#header-h1 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  margin: 0;
  padding: 20px;
  font-size: 45px;
  font-family: "Lobster", sans-serif;
}
/*header part end*/

/*single job item start*/
#job-div {
  margin: 15px;
}
#job-title,
#job-location,
#details-btn,
#job-added,
#job-description,
#job-salary {
  text-align: center;
  display: block;
  margin: 0 auto;
}
/*single job item end*/
