{% extends 'base.html' %} {% block head %}
<title>Apply for a Job</title>
<style>
  #applicationForm {
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    max-width: 600px;
    margin: 40px auto 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 2px;
  }

  button {
    margin: auto;
    display: block;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
</style>
{% endblock %} {% block body %} {% include 'nav.html' %}

<header>
  <img src="../static/career.jpg" id="header-img" style="height: 300px" />
  <div id="header-overlay">
    <h1 id="header-h1">Worldwide Careers</h1>
  </div>
</header>

<form id="applicationForm" action="/post-job-application-to-db" method="POST">
  <label for="fname">First Name *</label>
  <input type="text" id="fname" name="fname" required />

  <label for="lname">Last Name *</label>
  <input type="text" id="lname" name="lname" required />

  <label for="dob">Date of Birth *</label>
  <input type="date" id="dob" name="dob" required />

  <label for="email">Email *</label>
  <input type="email" id="email" name="email" required />

  <label for="cv">Upload your CV / Résumé *</label>
  <input type="file" id="cv" name="cv" required />

  <button class="btn btn-dark" type="submit">Apply</button>
</form>

<script>
  function applyToJob() {
    const form = document.getElementById("applicationForm");
    const formData = new FormData(form);

    fetch("/post-job-application-to-db", {
      method: "POST",
      body: formData,
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          alert("Applied for job successfully!");
        } else {
          alert("Error applying job. Please try again.");
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }
</script>

{% include 'footer.html' %} {% endblock %}
