{% extends 'base.html' %} {% block head %}
<title>Post a Job</title>
<style>
  #jobForm {
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    max-width: 600px;
    margin: 40px auto 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 2px;
  }

  button {
    margin: auto;
    display: block;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
</style>
{% endblock %} {% block body %} {% include 'nav.html' %}

<header>
  <img src="../static/career.jpg" id="header-img" style="height: 300px" />
  <div id="header-overlay">
    <h1 id="header-h1">Worldwide Careers</h1>
  </div>
</header>

<form id="jobForm" action="/post-job-to-db" method="POST">
  <label for="title">Job Title *</label>
  <input type="text" id="title" name="title" required />

  <label for="location">Location *</label>
  <input type="text" id="location" name="location" required />

  <label for="description">Job Description *</label>
  <textarea id="description" name="description" rows="10" required></textarea>

  <label for="salary">Salary</label>
  <input type="number" id="salary" name="salary" />

  <label for="currency">Currency (Eur, Usd...)</label>
  <input type="text" id="currency" name="currency" />

  <button class="btn btn-dark" type="submit">Post Job</button>
</form>

<script>
  function postJob() {
    const form = document.getElementById("jobForm");
    const descriptionTextarea = document.getElementById("description");

    // Replace newline characters with <br> tags
    const descriptionValue = descriptionTextarea.value.replace(/\n/g, "<br>");

    // Update the textarea value
    descriptionTextarea.value = descriptionValue;
    const formData = new FormData(form);

    fetch("/post-job-to-db", {
      method: "POST",
      body: formData,
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          alert("Job posted successfully!");
          window.location.href = "/home";
        } else {
          alert("Error posting job. Please try again.");
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }
</script>

{% include 'footer.html' %} {% endblock %}
