{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="../static/signin.css" />
<title>Recruiter Sign In</title>
{% endblock %} {% block body %} {% include 'nav.html' %}

<form action="/db-recruitersignin" method="post">
  <label for="email">Company Email:</label>
  <input type="email" id="email" name="email" required />

  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    name="password"
    required
  />

  <button type="submit">Sign In</button>

  <div class="signup-link">
    <p>Don't have an account? <a href="/recruitersignup">Sign Up</a></p>
  </div>
</form>

{% include 'footer.html' %} {% endblock %}
