{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="../static/signin.css" />
<title>Recruiter Sign Up</title>
{% endblock %} {% block body %} {% include 'nav.html' %}

<form action="/db-recruitersignup" method="post">
  <label for="name">Company Name: </label>
  <input type="text" id="name" name="name" required />

  <label for="email">Company Email:</label>
  <input type="email" id="email" name="email" required />

  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    name="password"
    required
  />

  <label for="password_again">Confirm Password:</label>
  <input
    type="password"
    id="password_again"
    name="password_again"
    required
  />

  <button type="submit">Sign Up</button>

  <div class="signup-link">
    <p>
      Did you already register your company?
      <a href="/recruitersignin">Sign In</a>
    </p>
  </div>
</form>

{% include 'footer.html' %} {% endblock %}
