{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="../static/signin.css" />
<title>Sign In</title>
{% endblock %} {% block body %} {% include 'nav.html' %}

<form action="/signin" method="post">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" required />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />

  <button type="submit">Sign In</button>

  <div class="signup-link">
    <p>Don't have an account? <a href="/signup">Sign Up</a></p>
  </div>
</form>

{% include 'footer.html' %} {% endblock %}
